<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">

      <div class="box bordered">
        <div class="box-header">
          <i class="icon-ok-circle"></i>Buttons
        </div>

        <div class="row-fluid">
          <div class="span12">
            <div class="padded">
              <div class="section-title">
                Buttons
              </div>
              <%= partial "/partials/components/buttons/buttons" %>
            </div>

            <div class="padded">
              <div class="section-title">
                Dropdowns
              </div>
              <%= partial "/partials/components/buttons/dropdowns" %>
            </div>

            <div class="padded">
              <div class="section-title">
                Button groups
              </div>
              <%= partial "/partials/components/buttons/groups" %>
            </div>
            <div class="padded">
              <div class="section-title">
                Specials!
              </div>
              <%= partial "/partials/components/buttons/specials" %>
            </div>

            <div class="padded">
              <div class="section-title">
                EXTRA Colors
              </div>
              <%= partial "/partials/components/buttons/extra_buttons" %>
              <%= partial "/partials/components/buttons/extra_dropdowns" %>
              <%= partial "/partials/components/buttons/extra_groups" %>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>