= form_for @reserervation do |f|
  - if @reserervation.errors.any?
    #error_explanation
      %h2= "#{pluralize(@reserervation.errors.count, "error")} prohibited this reserervation from being saved:"
      %ul
        - @reserervation.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
