
<h1>Micrositios</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@micrositio) do |f| %>

        <%= render 'shared/error_messages', object: f.object %>
        <%= f.label :nombre %>
        <%= f.text_field :nombre %>

        <%= f.label :descripcion %>
        <%= f.text_field :descripcion %>

        <%= f.submit "Crear nuevo Micrositio", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>