
<%	 if signed_in? %>
  <div class="hidden-xs" id="googlemaps">
    <div id="map-canvas" ></div>
  </div>
    <div class="col-md-5" style="z-index: 10" >
    <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 20px">
      <div class="row" style="background-color: #593e73; border-radius: 5px; padding: 15px;  margin-top: -10px; ">
        <div class="col-md-12 col-sm-12 hidden-xs">
          <h1 style="color: #ffffff"><%=	@actividad.slug.capitalize %> </h1>
        </div>
        <div class="visible-xs col-xs-6">
          <h1 style="color: #ffffff; font-size: 16px"><%=	@actividad.slug.capitalize %> </h1>
        </div>
      </div>
    </div>
    <%	fbplace = ActiveSupport::JSON.decode(open("https://graph.facebook.com/search?q=#{@actividad.namefb},page&fields=cover,checkins,name,location,category_list,picture.width(100)&type=place&center=#{current_user.lat},#{current_user.lng}&distance=15000&access_token=#{current_user.oauth_token}&limit=30").read) %>
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="border: 1px solid #d3d6db; " >
      <% fbplace['data'].each do |result| %>
        <%	 if result.nil? %>
              <div class="row" style="height: 200px">
                <p>There are no place around here, please try another location.</p>
              </div>
        <%	 else %>
            <div id="lista" class="row" style="margin-bottom: -15px;  margin-top: -10px">
              <div class="col-md-4 col-sm-4 col-xs-4">
                <%	 if result['picture'].nil?  %>
                <%	else  %>
                    <div class="img-responsive hidden-xs" style="height: 110px; overflow: hidden">
                      <%=  image_tag(result['picture']['data']['url']) %>
                    </div>
                    <div class="img-responsive visible-xs" style="height: 80px; overflow: hidden">
                      <%=  image_tag(result['picture']['data']['url'], class: "photolistaxs") %>
                    </div>
                <%	end  %>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6" style="padding: 0 !important;">
                    <div class="col-md-3 col-sm-6 col-xs-12 hidden-xs" style="padding: 0 !important; text-align: center ">
                      <%= form_for(@micrositio) do |f| %>
                          <%= f.hidden_field :name, value: result['name'] %>
                          <%= f.hidden_field :referencefb, value: result['id'] %>
                          <%= f.hidden_field :lat, value: result['location']['latitude'] %>
                          <%= f.hidden_field :lng, value: result['location']['longitude'] %>
                          <%	 if result['picture'].nil?  %>
                          <%	else  %>
                              <%= f.hidden_field :photo_file_name, value: result['picture']['data']['url'] %>
                          <% end %>
                          <%= f.submit result['name'], class: "btn-success" %>
                      <% end %>
                    </div>
                    <div class="col-md-5 col-sm-3 hidden-xs" style="padding: 0 !important; text-align: center">
                      <h6>Attending today</h6>
                    </div>
                    <div class="col-md-4 col-sm-3 hidden-xs" style="padding: 0 !important; text-align: center">
                      <h6>People that have been here</h6>
                      <p><%= number_with_delimiter(result['checkins']) %></p>
                    </div>
                    <div class="col-xs-12 visible-xs" style="padding:0 !important; margin-top: -10px; ">
                      <div style="margin-top: 10px; margin-bottom: -15px">
                      <%= form_for(@micrositio) do |f| %>
                          <%= f.hidden_field :name, value: result['name'] %>
                          <%= f.hidden_field :referencefb, value: result['id'] %>
                          <%	 if result['picture'].nil?  %>
                          <%	else  %>
                              <%= f.hidden_field :photo_file_name, value: result['picture']['data']['url'] %>
                          <% end %>
                          <%= f.submit result['name'], class: "btn-success" %>
                      <% end %>
                      </div>
                      <h6 style="font-size: 10px"><%= result['location']['city'] %></h6>
                      <h6 style="font-size: 10px">Friends attending </h6>
                      <h6 style="font-size: 10px">Have been here: <%= number_with_delimiter(result['checkins']) %> </h6>
                    </div>
              </div>
              <div class="col-md-2 col-sm-2 col-xs-2  ">
                <h6> Distance</h6>
                <p id="distance">
                  <%
                     lat1 = current_user.lat
                     lon1 = current_user.lng
                     lat2 = result['location']['latitude']
                     lon2 = result['location']['longitude']
                     r = 6371
                     pi = 3.1416
                     alpha1 = (lat1 * pi).to_f / 180.0
                     alpha2 = (lat2 * pi).to_f / 180.0
                     deltaa = (lat2.to_f-lat1.to_f) * pi / 180.0
                     deltag = (lon2.to_f-lon1.to_f) * pi / 180.0
                     a = Math.sin(deltaa.to_f/2.0) * Math.sinh(deltaa.to_f/2.0) +
                         Math.cos(alpha1) * Math.cos(alpha2) *
                         Math.sin(deltag/2) * Math.sin(deltag/2)
                     c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a))
                     d = r * c
                     f = d.round(2)
                  %>
                  <%=	 f %>
                  Km
                </p>

              </div>
            </div>
            <hr/>
         <%	 end %>
    <%	 end %>

    </div>

    </div>
    <div class="col-md-7">
    </div>
    <script>
        $(document).ready(function () {
            var myLatlng = new google.maps.LatLng(<%= current_user.lat %>,<%= current_user.lng %>);
            var mapOptions = {
                zoom: 11,
                center: myLatlng,
                scrollwheel: false,
                navigationControl: false,
                mapTypeControl: false,
                scaleControl: false,
                mapTypeControl: false,
                panControl: false,
                rotateControl: false,
                scaleControl: false,
                streetViewControl: false,
                zoomControl: false

            }
            var markers = [];
            var iterator = 0;
            var map;
            var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

            for (var i = 0; i < pins.length; i++) {
                setTimeout(function() {
                    addMarker();
                }, i * 200);
            }

            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map
            });

            function addMarker() {
                markers.push(new google.maps.Marker({
                    position: neighborhoods[iterator],
                    map: map,
                    draggable: false,
                    animation: google.maps.Animation.DROP
                }));
                iterator++;
            }

        });
    </script>

<% else %>
    <%=	 render "shared/ingresa" %>
<% end %>




