


<%	 if signed_in? %>
    <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 20px">
      <div class="row" style="background-color: #593e73; border-radius: 5px; padding: 15px;  margin-top: -10px; ">
        <div class="col-md-6 col-sm-6 hidden-xs">
          <h1 style="color: #ffffff"><%=	@actividad.slug.capitalize %> </h1>
        </div>
        <div class="visible-xs col-xs-6">
          <h1 style="color: #ffffff; font-size: 16px"><%=	@actividad.slug.capitalize %> </h1>
        </div>
      </div>
    </div>
    <%	fbplace = ActiveSupport::JSON.decode(open("https://graph.facebook.com/search?q=#{@actividad.namefb},page&fields=cover,checkins,name,location,category_list,picture.width(100)&type=place&center=#{current_user.lat},#{current_user.lng}&distance=50000&access_token=#{current_user.oauth_token}&limit=30").read) %>
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="border: 1px solid #d3d6db; " >
          <% fbplace['data'].each do |result| %>

                <div class="row" style="margin-bottom: -15px;  margin-top: -10px">
                  <div class="col-md-2 col-sm-2 col-xs-4">
                    <%	 if result['picture'].nil?  %>
                    <%	else  %>
                        <div class="img-responsive" style="height: 110px; overflow: hidden">
                          <%=  image_tag(result['picture']['data']['url']) %>
                        </div>
                    <%	end  %>
                  </div>
                  <div class="col-md-8 col-sm-8 col-xs-8" style="padding: 0 !important;">
                        <div class="col-md-3 col-sm-6 col-xs-12 hidden-xs" style="padding: 0 !important; text-align: center ">
                          <%= form_for(@micrositio) do |f| %>
                              <%= f.hidden_field :name, value: result['name'] %>
                              <%= f.hidden_field :referencefb, value: result['id'] %>
                              <%	 if result['picture'].nil?  %>
                              <%	else  %>
                                  <%= f.hidden_field :photo_file_name, value: result['picture']['data']['url'] %>
                              <% end %>
                              <%= f.submit result['name'], class: "btn-success" %>
                          <% end %>
                        </div>
                        <div class="col-md-5 col-sm-3 hidden-xs" style="padding: 0 !important; text-align: center">
                          <h6>Attending today</h6>
                        </div>
                        <div class="col-md-4 col-sm-3 hidden-xs" style="padding: 0 !important; text-align: center">
                          <h6>People that have been here</h6>
                          <p><%= number_with_delimiter(result['checkins']) %></p>
                        </div>
                        <div class="col-xs-12 visible-xs" style="padding:0 !important; margin-top: -10px; ">
                          <div style="margin-top: 10px; margin-bottom: -15px">
                          <%= form_for(@micrositio) do |f| %>
                              <%= f.hidden_field :name, value: result['name'] %>
                              <%= f.hidden_field :referencefb, value: result['id'] %>
                              <%	 if result['picture'].nil?  %>
                              <%	else  %>
                                  <%= f.hidden_field :photo_file_name, value: result['picture']['data']['url'] %>
                              <% end %>
                              <%= f.submit result['name'], class: "btn-success" %>
                           <% end %>
                          </div>
                          <h6 style="font-size: 10px"><%= result['location']['city'] %></h6>
                          <h6 style="font-size: 10px">Friends attending </h6>
                          <h6 style="font-size: 10px">Have been here: <%= number_with_delimiter(result['checkins']) %> </h6>
                          <%	distance = ActiveSupport::JSON.decode(open("http://maps.googleapis.com/maps/api/distancematrix/json?origins=#{current_user.lat},#{current_user.lng}&destinations=#{result['location']['latitude']},#{result['location']['longitude']}&sensor=false").read) %>
                          <%	 if distance.nil?  %>
                          <%	else  %>
                          <h6 style="font-size: 10px"> Distance  <%= distance['rows'][0]['elements'][0]['distance']['text']  %></h6>
                          <% end %>
                        </div>
                  </div>
                  <div class="col-md-2 col-sm-2 hidden-xs  ">
                    <h6> Distance</h6>
                                <%	 if distance.nil?  %>
                                <%	else  %>
                                <%= distance['rows'][0]['elements'][0]['distance']['text']  %>
                        <% end %>
                  </div>
                </div>
                <hr/>

          <%	 end %>

        </div>

<% else %>
    <%=	 render "shared/ingresa" %>
<% end %>
