<% if signed_in? %>
    <% if current_user.lat.nil? %>
        <%= form_for current_user, remote: true  do |f| %>
            <div> <%= f.hidden_field :lat, class: 'input-sm', id: 'lat' %></div>
            <div> <%= f.hidden_field :lng, class: 'input-sm', id: 'lng' %></div>
            <div class="col-md-7 " style="margin-bottom: 10px"><%= f.submit "Update your location", class: 'btn btn-large btn-primary' %></div>
        <% end %>
        <script>
            var lat = document.getElementById("lat");
            var lng = document.getElementById("lng");
            $(function() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(showPosition);
                } else {
                    lat.innerHTML = "Geolocation is not supported by this browser.";
                }
                function showPosition(position) {
                    lat.innerHTML=position.coords.latitude;
                    lng.innerHTML=position.coords.longitude;
                }
            });
        </script>
    <% else %>
    <% end %>
<% else %>

    <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 20px">
    <div style="margin-left: -25px; margin-right: -25px; margin-top: -100px; height: 400px; overflow: hidden; ">

      <%= image_tag "large.jpg", class: "imagenprincipal"  %>

    </div>
      <div style="margin-top: -200px; text-align: center">
        <h1 style="color: #593e73">Welcome to QuickPlace</h1>
      </div>
      <div class="row" style="background-color: #593e73; border-radius: 5px; padding: 15px; margin-top: 110px ">
        <div class="col-md-10 col-md-offset-1" style="margin-top: 100px; text-align: center; color: #ffffff; margin-bottom: 50px">
          <p style="font-size: 24px; font-family: helvetica, verdana, arial, sans-serif"> QuickPlace is Social Networking app where you can:</p>
          <br/>
          <p style="font-size: 20px; font-family: helvetica, verdana, arial, sans-serif">   Make reservations at bars, clubs & restaurants - See where your friends are going tonight</p>
          <p style="font-size: 20px; font-family: helvetica, verdana, arial, sans-serif">   Share your favorites places - View upcoming events, and More!</p>
          </p>
          <br/>
          <div class="col-md-12">
             <div class="col-md-1 col-md-offset-4"  style=" margin-right: -25px; margin-top: 3px"> <i class="fa fa-3x fa-facebook"></i> </div>
             <div class="col-md-1">   <%= link_to "Login with Facebook", user_omniauth_authorize_path(:facebook), class: " btn btn-lg btn-primary" %></div>
          </div>
        </div>


      </div>
      <div class="row">
        <ul class="list-inline pull-right">
          <li>Términos</li>
          <li>Contacto</li>
          <li>Ads</li>
        </ul>

      </div>
    </div>
<% end %>
