<% if signed_in? %>
    <% if current_user.lat.nil? %>
        <%= form_for current_user, remote: true  do |f| %>
            <div> <%= f.hidden_field :lat, class: 'input-sm', id: 'lat' %></div>
            <div> <%= f.hidden_field :lng, class: 'input-sm', id: 'lng' %></div>
            <div class="col-md-7 " style="margin-bottom: 10px"><%= f.submit "Update your location", class: 'btn btn-large btn-primary' %></div>
        <% end %>
        <script>
            var lat = document.getElementById("lat");
            var lng = document.getElementById("lng");
            $(function() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(showPosition);
                } else {
                    lat.innerHTML = "Geolocation is not supported by this browser.";
                }
                function showPosition(position) {
                    lat.innerHTML=position.coords.latitude;
                    lng.innerHTML=position.coords.longitude;
                }
            });
        </script>
    <% else %>
    <% end %>
<% else %>

    <%= render "layouts/topbarlogout"	  %>


    <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 20px">
      <div class="row" style="background-color: #593e73; border-radius: 5px; padding: 15px;  margin-top: -10px; ">
        <div class="col-md-10 col-md-offset-1" style="margin-top: 100px; text-align: center; color: #ffffff; margin-bottom: 200px">
          <p style="font-size: 24px; font-family: helvetica, verdana, arial, sans-serif"> QuickPlace is an app where users can view and make reservations at restaurants, bars, clubs, and events. </p>
        </div>
        <div class="col-md-offset-4">
        <h2 style="color: #ffffff">Welcome to QuickPlace</h2>
        </div>

      </div>
      <div class="row">
        <ul class="list-inline pull-right">
          <li>Términos</li>
          <li>Contacto</li>
          <li>Ads</li>
        </ul>

      </div>
    </div>
<% end %>
