


<% if signed_in? %>

    <%	fbuser = ActiveSupport::JSON.decode(open("https://graph.facebook.com/me?fields=location&access_token=#{current_user.oauth_token}").read) %>


    <%	fbloc = ActiveSupport::JSON.decode(open("https://graph.facebook.com/#{fbuser['location']['id']}").read) %>

    <% if current_user.lat.nil? %>
        <div class="col-md-12">
          <div class="row">
            <h4>Please confirm your current city</h4>
          </div>
          <%= form_for(current_user) do |f| %>
              <%= f.hidden_field :lat, value: fbloc['location']['latitude'] %>
              <%= f.hidden_field :lng, value: fbloc['location']['longitude'] %>
              <%= f.submit fbloc['location']['name'], class: "h6" %>
          <% end %>
        </div>

    <% else %>
    <% end %>

<% else %>




    <header id="header" class="site-header">
      <div class="container">
          <div class="col-md-12">
            <% [:notice, :error, :alert].each do |level| %>
                <% unless flash[level].blank? %>
                    <div data-alert="alert" class="alert-message <%= flash_class(level) %> fade in">
                      <a class="close" href="#">×</a>
                      <%= content_tag :p, flash[level] %>
                    </div>
                <% end %>
            <% end %>

                <div class="header-description">

                      <h2 style="font-size: 58px">Bienvenido a Limbo</h2>

                      <div class="header-btn"><%= link_to "Comienza aquí", new_user_registration_path %></div>
                </div><!-- /header-description -->

          </div><!-- /span12 -->
      </div><!-- /container -->

    </header>




<% end %>
