

<%	loc = ActiveSupport::JSON.decode(open("https://www.googleapis.com/geolocation/v1/geolocate?key=AIzaSyDskhqd4ok1InUhAkKJj3hqXfNj2ylgdlU").read) %>

<% if signed_in? %>

    <% if current_user.lat.nil? %>
        <script>
            $(document).ready(function () {
                var myLatlng = new google.maps.LatLng(23.634501,-102.55278399999997);
                var mapOptions = {
                    zoom: 4,
                    center: myLatlng
                }
                var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
                // Place a draggable marker on the map
                var marker = new google.maps.Marker({
                    position: myLatlng,
                    map: map,
                    draggable:true,
                    title:"Your location!"
                });
                google.maps.event.addListener(marker, 'dragend', function (event) {
                    document.getElementById("latbox").value = this.getPosition().lat();
                    document.getElementById("lngbox").value = this.getPosition().lng();
                });
            });
        </script>


        <div class="row">
          <p>Please update your location to continue</p>
        </div>
        <%= form_for(current_user, :html => { :multipart => true }) do |f| %>
            <div id="map-canvas" class="thumbnail" style="height:400px"></div>
            <div id="latlong">
              <div> <%= f.hidden_field :lat, class: 'input-sm', id: 'latbox' %></div>
              <div> <%= f.hidden_field :lng, class: 'input-sm', id: 'lngbox' %></div>
            </div>
            <div class="col-md-7 " style="margin-bottom: 10px"><%= f.submit "Update your location", class: 'btn btn-large btn-primary' %></div>
        <% end %>
    <% else %>
    <% end %>

<% else %>




    <header id="header" class="site-header">
      <div class="container">
          <div class="col-md-12">
            <% [:notice, :error, :alert].each do |level| %>
                <% unless flash[level].blank? %>
                    <div data-alert="alert" class="alert-message <%= flash_class(level) %> fade in">
                      <a class="close" href="#">×</a>
                      <%= content_tag :p, flash[level] %>
                    </div>
                <% end %>
            <% end %>

                <div class="header-description">

                      <h2 style="font-size: 58px">Bienvenido a Limbo</h2>

                      <div class="header-btn"><%= link_to "Comienza aquí", new_user_registration_path %></div>
                </div><!-- /header-description -->

          </div><!-- /span12 -->
      </div><!-- /container -->

    </header>




<% end %>
